[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose2 = "*"

[packages]
thread-testing = {index = "https://test.pypi.org/simple/",version = "*"}
yappi = "*"

[requires]
python_version = "3.7"
